@font-face {
    font-family: "morgan chalk";
    src: url(../font/MorganChalk-L3aJy.ttf)
}

@media (min-width: 1370px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/haroldandmaude4.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 92dvh;
        background-size: 100dvw auto;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 100px;
        color:#d099af;
        padding: 0 10rem 1rem 10rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 20rem;

        h2 {
            font-family: "ivymode-1", serif;;
        }

        #film-me{
            display:flex;
            justify-content: space-between;
            padding: 4rem 0rem;
        }

        #film-buddha {
            display:flex;
            justify-content: space-between;
            padding: 4rem 0rem;

            p {
                margin: 0 6rem 0 0;
            }
        }

        iframe {
            display:flex;
            justify-content: center;
        }
    }
}

@media (max-width: 1370px) and (min-width: 900px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/haroldandmaude4.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 92dvh;
        background-size: auto 94dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 5rem;
        color:#d099af;
        padding: 0 10rem 1rem 5rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 5rem;

        #film-me{
            display:flex;
            justify-content: space-between;
            padding: 4rem 0rem;
        }

        #film-buddha {
            display:flex;
            justify-content: space-between;
            padding: 4rem 0rem;

            article{
                padding: 0rem 5rem 0rem 0rem;
            }
        }

        iframe {
            display:flex;
            justify-content: center;
        }

        h2 {
            font-family: "ivymode-1", serif;
        }
    }
}

@media (max-width: 900px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/haroldandmaude4.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 92dvh;
        background-size: auto 94dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 2.5rem;
        color:#d099af;
        padding: 0 0rem 1rem 2rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 2rem 2rem;

        #film-me{
            display:flex;
            flex-direction: column;
            padding: 2rem 0rem;

            article{
                padding: 0rem 0rem 2rem 0rem;
            }
        }

        #film-buddha {
            display:flex;
            flex-direction: column;
            padding: 2rem 0rem;

            article{
                padding: 0rem 0rem 2rem 0rem;
            }
        }

        iframe {
            width: 80dvw;
            height: 40dvw;
        }

        h2 {
            font-family: "ivymode-1", serif;
        }
    }
}