@import url(variable.css);

@font-face {
    font-family: "morgan chalk";
    src: url(../font/MorganChalk-L3aJy.ttf)
}

@media (min-width: 1360px){
    * {
        margin: 0;
        padding: 0;
    }

    .background {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/glass2.jpg);
        background-color: var(--background-color);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 94dvh;
        background-size: 100dvw auto;
        z-index: -1;
    }

    #header-h-group{
        color:var(--heading-color);
        padding: 0 20rem 3rem 20rem;
    }

    #header-h-group > h1 {
        font-family: "ivymode-1", serif;
        font-size: 100px;
    }

    #header-h-group > p {
        font-family: "ivymode-1";
        padding: 1rem 0rem 0rem 1rem;
    }

    main {
        background-color: var(--background-color);
        color:var(--text-color);
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
    }

    #main-content{
        padding: 3rem 30dvw;
    }

    .main-h2 {
        font-family: "ivymode-1", serif;
        font-size: 2rem;
        font-weight: 100;
        padding: 4rem 0rem 0rem 0rem;
    }

    #about-me-h-group > p {
        font-family: "IBM Plex Sans", serif, monospace;;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin: 1rem 0rem 2rem 0rem;
        letter-spacing: 0.15rem;
        font-weight: 100;
    }

    aside{
        font-style: italic;
        font-weight: 100;
        margin: 0rem 3rem 0rem 2rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        text-align: justify;
    }

    #h2-photo-gallery{
        padding: 0rem 30dvw;
    }

    #img1 {
        width: 40dvw;
        height: 25dvh;
        object-fit: cover;
        border-radius: 10px;
    }

    image-navigation{
        display:flex;
        justify-content: center;
        flex-direction: row;
        padding: 2rem 0rem 7rem 0rem;
    }

    #photo-gallery-to-the-left {
        display: inline;
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 2rem 0rem 0rem;
    }

    #photo-gallery-to-the-right {
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 0rem 0rem 2rem;
    }

    #right-toggle:hover, #left-toggle:hover {
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
    }

    #right-toggle:active, #left-toggle:active {
        color: var(--background-color);
    }
}

@media (max-width: 1360px) and (min-width: 750px){

    .background {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/glass2.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: var(--background-color);
        height: 94dvh;
        background-size: auto 94dvh;
        z-index: -1;
    }

    #header-h-group{
        color:var(--heading-color);
        padding: 0 5rem 2rem 5rem;
    }

    #header-h-group > h1 {
        font-family: "ivymode-1", serif;
        font-size: 100px;
    }

    #header-h-group > p {
        font-family: "ivymode-1";
        padding: 1rem 0rem 0rem 1rem;
    }

    main {
        background-color: var(--background-color);
        color:var(--text-color);
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
    }

    #main-content{
        padding: 3rem 18dvw;
    }

    .main-h2 {
        font-family: "ivymode-1", serif;
        font-size: 2rem;
        font-weight: 100;
        padding: 4rem 0rem 0rem 0rem;
    }

    #about-me-h-group > p {
        font-family: "IBM Plex Sans", serif, monospace;;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 1rem 0rem 2rem 0rem;
        letter-spacing: 0.15rem;
        font-weight: 100;
    }

    aside{
        font-style: italic;
        font-weight: 100;
        padding: 0rem 3rem 0rem 2rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        text-align: justify;
    }

    #h2-photo-gallery{
        padding: 0rem 18dvw;
    }

    #img1 {
        width: 55dvw;
        height: 32dvh;
        object-fit: cover;
        border-radius: 10px;
    }

    image-navigation{
        display:flex;
        justify-content: center;
        flex-direction: row;
        padding: 2rem 0rem 7rem 0rem;
    }

    #photo-gallery-to-the-left {
        display: inline;
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 2rem 0rem 0rem;
    }

    #photo-gallery-to-the-right {
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 0rem 0rem 2rem;
    }

    #right-toggle:hover, #left-toggle:hover {
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
    }

    #right-toggle:active, #left-toggle:active {
        color: var(--background-color);
    }
}


@media (max-width: 750px){

    .background {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/glass2.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 94dvh;
        background-size: auto 94dvh;
        z-index: -1;
    }

    #header-h-group{
        color:var(--heading-color);
        padding: 0 5rem 2rem 2rem;
    }

    #header-h-group > h1 {
        font-family: "ivymode-1", serif;
        font-size: 4rem;
    }

    #header-h-group > p {
        font-family: "ivymode-1";
        font-size: 0.8rem;
        padding: 0rem 0rem 0rem 0.5rem;
    }

    main {
        background-color: var(--background-color);
        color:var(--text-color);
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
    }

    #main-content{
        padding: 2rem 2rem;
    }

    .main-h2 {
        font-family: "ivymode-1", serif;
        font-size: 2rem;
        font-weight: 100;
        padding: 4rem 0rem 0rem 0rem;
    }

    #about-me-h-group > p {
        font-family: "IBM Plex Sans", serif, monospace;;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 1rem 0rem 2rem 0rem;
        letter-spacing: 0.15rem;
        font-weight: 100;
    }

    aside{
        font-style: italic;
        font-weight: 100;
        padding: 0rem 2rem 0rem 1rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    #h2-photo-gallery{
        padding: 0rem 2rem;
    }

    #img1 {
        width: 80dvw;
        height: 20dvh;
        object-fit: cover;
        border-radius: 10px;
    }

    image-navigation{
        display:flex;
        justify-content: center;
        flex-direction: row;
        padding: 2rem 0rem 7rem 0rem;
    }

    #photo-gallery-to-the-left {
        display: inline;
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 0.5rem 0rem 0rem;
    }

    #photo-gallery-to-the-right {
        border: none;
        background-color: transparent;
        color: var(--heading-color);
        margin: 0rem 0rem 0rem 0.5rem;
    }
}