@font-face {
    font-family: "morgan chalk";
    src: url(font/MorganChalk-L3aJy.ttf)
}

@media (min-width: 1370px){
    * {
        margin: 0;
    }

    nav {
        background-color: #d099af;
        padding: 1rem 18rem 1rem 15rem;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            background-color: #d099af;
        }

        .subpage {
            font-size: 0.8rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color:black;
            text-decoration: none;
            padding: 1.15rem 2rem;
            transition:all 1s 50ms;
        }

        .subpage:hover {
            background-color:#121212;
            color:#d099af;
            font-weight: 400;
        }

        .homepage {
            background-color: #121212;
            color: #d099af;
            text-decoration: none;
            margin: 0.01rem 3rem;
            padding: 1.15rem 2.5rem 1rem 2.5rem;
            font-size: 1rem;
            font-weight: 800;
            font-family: "morgan chalk", serif;
            font-display: wrap;
            transition:all 1s;
        }

        .homepage:hover {
            background-color:color(display-p3 0.5 0.3 0.6);
            color:#121212;
        }
    }

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 92dvh;
        background-size: 100dvw auto;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 5.5rem;
        color:color-mix(in display-p3, grey 10%, pink 90%);
        padding: 0 10rem 1rem 10rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 20rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article:has(h2) {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }

    #footer{
        display:flex;
        justify-content: space-between;
    }
    
    .footer *{
        font-family: "IBM Plex Sans", monospace, serif;
        font-weight: 200;
        text-decoration: none;
        color: #121212;
        font: 0.8rem;
    }

    footer{
        background-color: #d099af;
    }
}


@media (max-width: 1370px) and (min-width: 850px){
    * {
        margin: 0;
    }

    nav {
        background-color: #d099af;
        padding: 1rem 4rem 1rem 1.5rem;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            background-color: #d099af;
        }

        .subpage {
            font-size: 0.8rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color:black;
            text-decoration: none;
        }

        .homepage {
            background-color: #121212;
            color: #d099af;
            text-decoration: none;
            margin: 0rem 1rem;
            padding: 1.15rem 2.5rem;
            font-size: 1rem;
            font-weight: 800;
            font-family: "morgan chalk";
            font-display: wrap;
        }
    }

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 92dvh;
        background-size: auto 92dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 4rem;
        color:#e8c6d4;
        padding: 0 5rem 1rem 5rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 10rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }

    #footer{
        display:flex;
        justify-content: space-between;
    }
    
    .footer *{
        font-family: "IBM Plex Sans", monospace, serif;
        font-weight: 200;
        text-decoration: none;
        color: #121212;
        font: 0.8rem;
    }

    footer{
        background-color: #d099af;
    }
}

@media (max-width: 850px){
    * {
        margin: 0;
    }

    nav {
        position: fixed;
        width: 100%;
        background-color: #d099af;
        padding: 1rem 0rem 1rem 0rem;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            background-color: #d099af;
        }

        .subpage {
            font-size: 0.6rem;
            font-weight: 100;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color: #121212;
            text-decoration: none;
        }

        .homepage {
            background-color: #121212;
            color: #d099af;
            text-decoration: none;
            padding: 1.4rem 1rem;
            font-size: 0.8rem;
            font-weight: 800;
            font-family: "morgan chalk";
            font-display: wrap;
        }
    }

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 91dvh;
        background-size: auto 91dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 2rem;
        color:#e8c6d4;
        padding: 0 1rem 2rem 1.5rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 2rem 2rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }

    footer{
        display: none;
    }
}