@font-face {
    font-family: "morgan chalk";
    src: url(font/MorganChalk-L3aJy.ttf)
}

@media (min-width: 1370px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 92dvh;
        background-size: 100dvw auto;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 5.5rem;
        color:color-mix(in display-p3, grey 10%, pink 90%);
        padding: 0 10rem 1rem 10rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 20rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article:has(h2) {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }
}


@media (max-width: 1370px) and (min-width: 850px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 92dvh;
        background-size: auto 92dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 4rem;
        color:#e8c6d4;
        padding: 0 5rem 1rem 5rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 3rem 10rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }
}

@media (max-width: 850px){

    h1 {
        display: flex;
        align-items: flex-end;
        background-image: url(../image/gel.jpg);
        background-color: #121212;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        height: 91dvh;
        background-size: auto 91dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 2rem;
        color:#e8c6d4;
        padding: 0 1rem 2rem 1.5rem;
    }

    main {
        background-color: #121212;
        color:#f5dee8;
        font-family: "IBM Plex Sans", serif, monospace;
        font-display: swap;
        font-weight: 250;
        line-height: 1.8;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 2rem 2rem;

        h2 {
            font-family: "ivymode-1", serif;
        }

        article {
            padding: 3rem 0rem;

            a {
                text-decoration: underline dashed;
                color: #f5dee8;

            }
        }
    }
}