@import url(variable.css);

@media (min-width: 1360px) {
    * {
        margin: 0;
        padding: 0;
    }

    #main-navigation {
        background-color: var(--navigation-color);
        width: 100vw;
        height: 6vh;

        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: 16vw 12vw 12vw 20vw 12vw 12vw 16vw;
            grid-template-rows: 6vh;
            grid-template-areas: 
                ". photo lab homepage film contact .";
        }

        #nav-photo {
            grid-area: photo;
        }

        #nav-lab {
            grid-area: lab;
        }

        #nav-homepage {
            grid-area: homepage;
        }

        #nav-film {
            grid-area: film;
        }

        #nav-contact {
            grid-area: contact;
        }

        .subpage {
            display: grid;
            place-items: center;
            width: 10vw;
            height: 6vh;
            margin: 0 auto;
            font-size: 0.8rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color:var(--background-color);
            text-decoration: none;
            transition:all 1s 50ms;
        }

        .subpage:hover {
            background-color:var(--background-color);
            color:var(--navigation-color);
            font-weight: 400;
        }

        .homepage {
            display: grid;
            place-items: center;
            width: 8vw;
            height: 6vh;
            margin: 0 auto;
            background-color: var(--background-color);
            color: var(--navigation-color);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 800;
            font-family: "morgan chalk", serif;
            transition:all 1s;
        }

        .homepage:hover {
            background-color:var(--navigation-color);
            color:var(--background-color);
            font-size: 1.2rem;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
        grid-template-rows: 1rem;
        grid-template-areas: 
            "copyright navigation backtotop";
        font-size: 0.8rem;
        font-family: "IBM Plex Sans", monospace, serif;
        font-weight: 300;
        background-color: var(--navigation-color);

        #copyright {
            grid-area: copyright;
        }

        #footer-nav {
            grid-area: navigation;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1rem;
            font-size: 0.8rem;
            list-style-type: none;

            li {
                text-align: center;
            }
            
            a {
                text-decoration: none;
                color: var(--background-color);
            }

            #footer-homepage {
                font-weight: 400;
            }
        }
         
        #back-to-top {
            grid-area: backtotop;
            text-align: right;
            color: var(--background-color);
            text-decoration: none;
        }

        .email {
            color: var(--link-color);
            text-decoration: none;
        }

        .email:hover {
            font-weight: 400;
        }
    }
}

@media (max-width: 1360px) and (min-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    #main-navigation {
        background-color: var(--navigation-color);
        width: 100vw;
        height: 6vh;

        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: 4vw 18vw 18vw 20vw 18vw 18vw 4vw;
            grid-template-rows: 6vh;
            grid-template-areas: 
                ". photo lab homepage film contact .";
        }

        #nav-photo {
            grid-area: photo;
        }

        #nav-lab {
            grid-area: lab;
        }

        #nav-homepage {
            grid-area: homepage;
        }

        #nav-film {
            grid-area: film;
        }

        #nav-contact {
            grid-area: contact;
        }

        .subpage {
            display: grid;
            place-items: center;
            width: 120px;
            height: 6vh;
            margin: 0 auto;
            font-size: 0.8rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color:var(--background-color);
            text-decoration: none;
            transition:all 1s 50ms;
        }

        .subpage:hover {
            background-color:var(--background-color);
            color:var(--navigation-color);
            font-weight: 400;
        }

        .homepage {
            display: grid;
            place-items: center;
            width: 96px;
            height: 6vh;
            margin: 0 auto;
            background-color: var(--background-color);
            color: var(--navigation-color);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 800;
            font-family: "morgan chalk", serif;
            transition:all 1s;
        }

        .homepage:hover {
            background-color:var(--navigation-color);
            color:var(--background-color);
            font-size: 1.2rem;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 40vw 60vw;
        grid-template-rows: 1rem;
        grid-template-areas: 
            "copyright navigation";
        font-size: 0.8rem;
        font-family: "IBM Plex Sans", monospace, serif;
        font-weight: 300;
        background-color: var(--navigation-color);

        #copyright {
            grid-area: copyright;
        }

        #footer-nav {
            grid-area: navigation;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1rem;
            font-size: 0.8rem;
            list-style-type: none;

            li {
                text-align: center;
            }
            
            a {
                text-decoration: none;
                color: var(--background-color);
            }

            #footer-homepage {
                font-weight: 400;
            }
        }
         
        #back-to-top {
            display: none
        }

        .email {
            color: var(--link-color);
            text-decoration: none;
        }

        .email:hover {
            font-weight: 400;
        }
    }
}

@media (max-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    #main-navigation {
        background-color: var(--navigation-color);
        width: 100vw;
        height: 6vh;
        position: fixed;

        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
            grid-template-rows: 6vh;
            grid-template-areas: 
                "photo lab homepage film contact";
        }

        #nav-photo {
            grid-area: photo;
        }

        #nav-lab {
            grid-area: lab;
        }

        #nav-homepage {
            grid-area: homepage;
        }

        #nav-film {
            grid-area: film;
        }

        #nav-contact {
            grid-area: contact;
        }

        .subpage {
            display: grid;
            place-items: center;
            width: 20vw;
            height: 6vh;
            margin: 0 auto;
            font-size: 0.6rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 400;
            color:var(--background-color);
            text-decoration: none;
            transition:all 1s 50ms;
        }

        .homepage {
            display: grid;
            place-items: center;
            width: 20vw;
            height: 6vh;
            margin: 0 auto;
            background-color: var(--background-color);
            color: var(--navigation-color);
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 800;
            font-family: "morgan chalk", serif;
            transition:all 1s;
        }
    }

    footer {
        display: none;
    }
}