@font-face {
    font-family: "morgan chalk";
    src: url(../font/MorganChalk-L3aJy.ttf)
}
  
:root {
    --background-color: #121212;
    --text-color: #f5dee8;
    --input-color: #1F1B24;
    --navigation-color: #d099af;
}

@media (min-width: 750px){

    #background {
        display: flex;
        align-items: flex-end;
        background-color: var(--background-color);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 94dvh;
        background-size: 100dvw 94dvh;
        z-index: -1;

        h1 {
            font-family: "ivymode-1", serif;
            font-size: 90px;
            color:var(--text-color);
            padding: 0 10rem 1rem 10rem;
        }

        button {
            margin: 0 1rem 1rem 0;
            font-family: "ivymode-1", serif;
            font-size: 1.2rem;
            background-color: var(--text-color);
            border: 2px var(--navigation-color) ridge;
        }

        button:active {
            border: 2px var(--navigation-color) groove;
        }
    }

    main {
        background-color: #121212;
    }

    #photo-container {
        display: grid;
        grid-template-columns: 18vw 17vw 10vw 5vw 30vw 20vw;
        grid-template-rows: repeat(4, 30vh);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: 
            "h1-1 h1-1 h1-2 h1-2 h1-2 v123"
            "h2-1 h2-1 h2-1 h2-2 h2-2 v123"
            "v34 h3 h3 h3 h3 v123"
            "v34 h4-1 h4-1 h4-1 h4-2 h4-2";
    }

    .horizontal-row1-1 {
        grid-area: h1-1;
    }

    .horizontal-row1-2 {
        grid-area: h1-2;
    }

    .horizontal-row2-1 {
        grid-area: h2-1;
    }

    .horizontal-row2-2 {
        grid-area: h2-2;
    }

    .horizontal-row3 {
        grid-area: h3;
    }

    .horizontal-row4-1 {
        grid-area: h4-1;
    }

    .horizontal-row4-2 {
        grid-area: h4-2;
    }

    .vertical-row123 {
        grid-area: v123;
    }

    .vertical-row34 {
        grid-area: v34;
    }
}


@media (max-width: 750px){

    #background {
        display: flex;
        align-items: flex-end;
        background-color: var(--background-color);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 94dvh;
        background-size: 100dvw 94dvh;
        z-index: -1;

        h1 {
            font-family: "ivymode-1", serif;
            font-size: 50px;
            color:var(--text-color);
            padding: 0 0 1rem 1rem;
        }

        button {
            margin: 0 1rem 1rem 0;
            font-family: "ivymode-1", serif;
            font-size: 1.2rem;
            background-color: var(--text-color);
            border: 2px var(--navigation-color) ridge;
        }

        button:active {
            border: 2px var(--navigation-color) groove;
        }
    }

    main {
        background-color: #121212;
    }
}