@font-face {
    font-family: "morgan chalk";
    src: url(../font/MorganChalk-L3aJy.ttf)
}
  
:root {
    --background-color: #121212;
    --text-color: #f5dee8;
    --input-color: #1F1B24;
    --navigation-color: #d099af;
}

@media (min-width: 1280px){
    * {
        margin: 0;
    }

    #themeToggle {
        color:var(--text-color);
        background-color:var(--background-color);
        margin: center;
        border: none;
        display:inline;
        padding: 0 0 0 50dvw;
        font-size: 2rem;
    }

    nav {
        background-color: var(--navigation-color);
        padding: 1rem 18rem 1rem 15rem;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            background-color: var(--navigation-color);
        }

        .subpage {
            font-size: 0.8rem;
            font-family: "IBM Plex Sans", monospace, serif;
            font-weight: 200;
            color:var(--background-color);
            text-decoration: none;
            padding: 1.15rem 2rem;
            transition:all 1s 50ms;
        }

        .subpage:hover {
            background-color:var(--background-color);
            color:var(--navigation-color);
            font-weight: 400;
        }

        .homepage {
            background-color: var(--background-color);
            color: var(--navigation-color);
            text-decoration: none;
            margin: 0.01rem 3rem;
            padding: 1.15rem 2.5rem 1rem 2.5rem;
            font-size: 1rem;
            font-weight: 800;
            font-family: "morgan chalk", serif;
            font-display: wrap;
            transition:all 1s;
        }

        .homepage:hover {
            background-color:var(--navigation-color);
            color:var(--background-color);
        }
    }

    h1 {
        display: flex;
        align-items: flex-end;
        background-color: var(--background-color);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        animation-name: background-animation;
        animation-duration: 4s;
        height: 93dvh;
        background-size: 100dvw 98dvh;
        z-index: -1;
        font-family: "ivymode-1", serif;
        font-size: 90px;
        color:var(--text-color);
        padding: 0 10rem 1rem 10rem;
    }

    main {
        background-color: #121212;
    }

    #photo-container {
        display: grid;
        grid-template-columns: 18vw 17vw 10vw 5vw 30vw 20vw;
        grid-template-rows: repeat(4, 30vh);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: 
            "h1-1 h1-1 h1-2 h1-2 h1-2 v123"
            "h2-1 h2-1 h2-1 h2-2 h2-2 v123"
            "v34 h3 h3 h3 h3 v123"
            "v34 h4-1 h4-1 h4-1 h4-2 h4-2";
    }

    #horizontal-row1-1 {
        grid-area: h1-1;
    }

    #horizontal-row1-2 {
        grid-area: h1-2;
    }

    #horizontal-row2-1 {
        grid-area: h2-1;
    }

    #horizontal-row2-2 {
        grid-area: h2-2;
    }

    #horizontal-row3 {
        grid-area: h3;
    }

    #horizontal-row4-1 {
        grid-area: h4-1;
    }

    #horizontal-row4-2 {
        grid-area: h4-2;
    }

    #vertical-row123 {
        grid-area: v123;
    }

    #vertical-row34 {
        grid-area: v34;
    }


    #footer{
        display:flex;
        justify-content: space-between;
    }
    
    .footer *{
        font-family: "IBM Plex Sans", monospace, serif;
        font-weight: 200;
        text-decoration: none;
        color: #121212;
        font: 0.8rem;
    }

    footer{
        background-color: var(--navigation-color);
    }
}